In [49]:
import pandas as pd

# Load Excel file
df = pd.read_excel(r"C:\Users\formation\Desktop\final version data electrciy et gaz 17 october.xlsx")
# Preview first rows
df.head()

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764,154.882
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228,223.114
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043,73.447
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521,136.521
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560,44.560

In [50]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\formation\appdata\local\python\pythoncore-3.14-64\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\formation\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [51]:
def quick_report(df: pd.DataFrame, top_n: int = 10) -> None:
    print("=== Quick report ===")
    print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
    
    print("\nColumn dtypes:")
    print(df.dtypes)
    
    print("\nMissing values per column:")
    print(df.isna().sum().sort_values(ascending=False).head(top_n))
    
    print("\nSample rows:")
    print(df.head(5))
    df

In [52]:
import pandas as pd

### to Read the Excel file into a DataFrame.

In [55]:

import pandas as pd

# Load Excel file
df = pd.read_csv(r"C:\Users\formation\Desktop\ConsommationElec1.csv",encoding='latin-1',sep=';')

# Preview first rows
df.head()

,OPERATEUR,FILIERE,Annee,Code_Commune,Nom_Commune,Type_EPCI,Code_Departement,Nom_Departement,Code_Region,Nom_Region,CODE_CATEGORIE_CONSOMMATION,CODE_GRAND_SECTEUR,Conso_totale__MWh,Conso_moyenne__MWh
0,GRDF,Gaz,2024,22171,Plaintel,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,2014.25870,8.757647
1,GRDF,Gaz,2024,22176,Plédran,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,4741.17770,8.496734
2,GRDF,Gaz,2024,22185,Plénée-Jugon,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1773.62500,10.749243
3,GRDF,Gaz,2024,22193,Plestan,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,471.13043,9.614906
4,GRDF,Gaz,2024,22195,Pleubian,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1070.65900,9.474859

# Display the first rows to understand the structure

In [56]:
df.head()

,OPERATEUR,FILIERE,Annee,Code_Commune,Nom_Commune,Type_EPCI,Code_Departement,Nom_Departement,Code_Region,Nom_Region,CODE_CATEGORIE_CONSOMMATION,CODE_GRAND_SECTEUR,Conso_totale__MWh,Conso_moyenne__MWh
0,GRDF,Gaz,2024,22171,Plaintel,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,2014.25870,8.757647
1,GRDF,Gaz,2024,22176,Plédran,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,4741.17770,8.496734
2,GRDF,Gaz,2024,22185,Plénée-Jugon,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1773.62500,10.749243
3,GRDF,Gaz,2024,22193,Plestan,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,471.13043,9.614906
4,GRDF,Gaz,2024,22195,Pleubian,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1070.65900,9.474859

## to Check column names

In [ ]:
df.columns

Index(['annee', 'code_departement', 'nom_departement', 'code_region',
       'nom_region', 'code_grand_secteur', 'conso_totale_mwh',
       'conso_moyenne_mwh'],
      dtype='object')

In [57]:
df.dtypes

OPERATEUR                       object
FILIERE                         object
Annee                            int64
Code_Commune                     int64
Nom_Commune                     object
Type_EPCI                       object
Code_Departement                 int64
Nom_Departement                 object
Code_Region                      int64
Nom_Region                      object
CODE_CATEGORIE_CONSOMMATION     object
CODE_GRAND_SECTEUR              object
Conso_totale__MWh              float64
Conso_moyenne__MWh             float64
dtype: object

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534817 entries, 0 to 534816
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   OPERATEUR                    534817 non-null  object
 1   FILIERE                      534817 non-null  object
 2   Annee                        534817 non-null  int64
 3   Code_Commune                 534817 non-null  int64
 4   Nom_Commune                  534817 non-null  object
 5   Type_EPCI                    534811 non-null  object
 6   Code_Departement             534817 non-null  int64
 7   Nom_Departement              534817 non-null  object
 8   Code_Region                  534817 non-null  int64
 9   Nom_Region                   534817 non-null  object
 10  CODE_CATEGORIE_CONSOMMATION  534817 non-null  object
 11  CODE_GRAND_SECTEUR           534638 non-null  object
 12  Conso_totale__MWh            467065 non-null  float64
 13  Conso_moyenne__MWh           509212 non-null  float64
dtypes: float64(2), int64(4), object(8)
memory usage: 57.1+ MB

## To Check number of rows and columns

In [59]:
rows, cols = df.shape
print("Number of rows:", rows)
print("Number of columns:", cols)
df

Number of rows: 534817
Number of columns: 14

,OPERATEUR,FILIERE,Annee,Code_Commune,Nom_Commune,Type_EPCI,Code_Departement,Nom_Departement,Code_Region,Nom_Region,CODE_CATEGORIE_CONSOMMATION,CODE_GRAND_SECTEUR,Conso_totale__MWh,Conso_moyenne__MWh
0,GRDF,Gaz,2024,22171,Plaintel,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,2014.25870,8.757647
1,GRDF,Gaz,2024,22176,Plédran,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,4741.17770,8.496734
2,GRDF,Gaz,2024,22185,Plénée-Jugon,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1773.62500,10.749243
3,GRDF,Gaz,2024,22193,Plestan,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,471.13043,9.614906
4,GRDF,Gaz,2024,22195,Pleubian,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1070.65900,9.474859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534812,GRDF,Gaz,2020,35226,Pleugueneuc,CC,35,Ille-et-Vilaine,53,Bretagne,RES,RESIDENTIEL,860.45270,9.153752
534813,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,74.99190,74.991900
534814,GRDF,Gaz,2020,35227,Pleumeleuc,CC,35,Ille-et-Vilaine,53,Bretagne,PRO,INDUSTRIE,355.43030,177.715150
534815,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,294.06090,294.060900
534816,GRDF,Gaz,2020,35228,Pleurtuit,CC,35,Ille-et-Vilaine,53,Bretagne,ENT,INDUSTRIE,6896.32400,6896.324000

In [60]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df

C:\Users\formation\AppData\Local\Temp\ipykernel_35132\536662457.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,OPERATEUR,FILIERE,Annee,Code_Commune,Nom_Commune,Type_EPCI,Code_Departement,Nom_Departement,Code_Region,Nom_Region,CODE_CATEGORIE_CONSOMMATION,CODE_GRAND_SECTEUR,Conso_totale__MWh,Conso_moyenne__MWh
0,GRDF,Gaz,2024,22171,Plaintel,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,2014.25870,8.757647
1,GRDF,Gaz,2024,22176,Plédran,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,4741.17770,8.496734
2,GRDF,Gaz,2024,22185,Plénée-Jugon,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1773.62500,10.749243
3,GRDF,Gaz,2024,22193,Plestan,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,471.13043,9.614906
4,GRDF,Gaz,2024,22195,Pleubian,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1070.65900,9.474859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534812,GRDF,Gaz,2020,35226,Pleugueneuc,CC,35,Ille-et-Vilaine,53,Bretagne,RES,RESIDENTIEL,860.45270,9.153752
534813,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,74.99190,74.991900
534814,GRDF,Gaz,2020,35227,Pleumeleuc,CC,35,Ille-et-Vilaine,53,Bretagne,PRO,INDUSTRIE,355.43030,177.715150
534815,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,294.06090,294.060900
534816,GRDF,Gaz,2020,35228,Pleurtuit,CC,35,Ille-et-Vilaine,53,Bretagne,ENT,INDUSTRIE,6896.32400,6896.324000

## To Strip extra spaces give me the code

In [61]:
df.columns = df.columns.str.lower()
df

,operateur,filiere,annee,code_commune,nom_commune,type_epci,code_departement,nom_departement,code_region,nom_region,code_categorie_consommation,code_grand_secteur,conso_totale__mwh,conso_moyenne__mwh
0,GRDF,Gaz,2024,22171,Plaintel,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,2014.25870,8.757647
1,GRDF,Gaz,2024,22176,Plédran,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,4741.17770,8.496734
2,GRDF,Gaz,2024,22185,Plénée-Jugon,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1773.62500,10.749243
3,GRDF,Gaz,2024,22193,Plestan,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,471.13043,9.614906
4,GRDF,Gaz,2024,22195,Pleubian,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1070.65900,9.474859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534812,GRDF,Gaz,2020,35226,Pleugueneuc,CC,35,Ille-et-Vilaine,53,Bretagne,RES,RESIDENTIEL,860.45270,9.153752
534813,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,74.99190,74.991900
534814,GRDF,Gaz,2020,35227,Pleumeleuc,CC,35,Ille-et-Vilaine,53,Bretagne,PRO,INDUSTRIE,355.43030,177.715150
534815,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,294.06090,294.060900
534816,GRDF,Gaz,2020,35228,Pleurtuit,CC,35,Ille-et-Vilaine,53,Bretagne,ENT,INDUSTRIE,6896.32400,6896.324000

In [62]:
df.columns = df.columns.str.replace(' ', '_')
df

,operateur,filiere,annee,code_commune,nom_commune,type_epci,code_departement,nom_departement,code_region,nom_region,code_categorie_consommation,code_grand_secteur,conso_totale__mwh,conso_moyenne__mwh
0,GRDF,Gaz,2024,22171,Plaintel,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,2014.25870,8.757647
1,GRDF,Gaz,2024,22176,Plédran,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,4741.17770,8.496734
2,GRDF,Gaz,2024,22185,Plénée-Jugon,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1773.62500,10.749243
3,GRDF,Gaz,2024,22193,Plestan,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,471.13043,9.614906
4,GRDF,Gaz,2024,22195,Pleubian,CA,22,Côtes-d'Armor,53,Bretagne,RES,RESIDENTIEL,1070.65900,9.474859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534812,GRDF,Gaz,2020,35226,Pleugueneuc,CC,35,Ille-et-Vilaine,53,Bretagne,RES,RESIDENTIEL,860.45270,9.153752
534813,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,74.99190,74.991900
534814,GRDF,Gaz,2020,35227,Pleumeleuc,CC,35,Ille-et-Vilaine,53,Bretagne,PRO,INDUSTRIE,355.43030,177.715150
534815,Enedis,Electricité,2021,89391,Sergines,CC,89,Yonne,27,Bourgogne-Franche-Comté,ENT,TERTIAIRE,294.06090,294.060900
534816,GRDF,Gaz,2020,35228,Pleurtuit,CC,35,Ille-et-Vilaine,53,Bretagne,ENT,INDUSTRIE,6896.32400,6896.324000

In [ ]:
df.columns = (
    df.columns
    .str.strip()              # remove extra spaces
    .str.lower()              # lowercase
    .str.replace(' ', '_')    # convert spaces to underscores
)
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

In [ ]:
df.isnull().sum()
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

In [ ]:
# Drop rows that have less than 'threshold' non-NA values
threshold = 3  # example: keep rows with at least 3 non-missing values
df_cleaned = df.dropna(thresh=threshold)
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

## to Detect duplicate rows

In [ ]:
duplicates = df[df.duplicated()]
print(duplicates)

        annee  code_departement nom_departement  code_region  \
4817     2024                 3          Allier           84
13097    2024                 2           Aisne           32
15659    2024                28    Eure-et-Loir           24
21474    2024                10            Aube           44
23207    2024                70    Haute-SaÃ´ne           27
...       ...               ...             ...          ...
344663   2018                 9         AriÃ¨ge           76
346334   2018                79    Deux-SÃ¨vres           75
349677   2018                57         Moselle           44
357437   2018                79    Deux-SÃ¨vres           75
358311   2018                57         Moselle           44

                      nom_region code_grand_secteur  conso_totale_mwh  \
4817       Auvergne-RhÃ´ne-Alpes            INCONNU               NaN
13097            Hauts-de-France            INCONNU               NaN
15659        Centre-Val de Loire            INCONNU               NaN
21474                  Grand Est            INCONNU               NaN
23207   Bourgogne-Franche-ComtÃ©            INCONNU               NaN
...                          ...                ...               ...
344663                 Occitanie          TERTIAIRE             0.782
346334        Nouvelle-Aquitaine        AGRICULTURE               NaN
349677                 Grand Est        AGRICULTURE               NaN
357437        Nouvelle-Aquitaine        AGRICULTURE               NaN
358311                 Grand Est        AGRICULTURE               NaN

        conso_moyenne_mwh
4817                  NaN
13097                 NaN
15659                 NaN
21474                 NaN
23207                 NaN
...                   ...
344663              0.782
346334                NaN
349677                NaN
357437                NaN
358311                NaN

[158 rows x 8 columns]

In [ ]:
df.duplicated().any()
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

# check for duplicates based on specific columns

In [ ]:
# check for duplicates based on specific columns 
df.duplicated().sum()
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

## To Remove duplicates if appropriate

In [ ]:
df = df.drop_duplicates()
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

In [ ]:
df.drop_duplicates(inplace=True)
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

## To get for Numeric int/float

In [ ]:
numeric_df = df.select_dtypes(include=['int64', 'float64'])
numeric_df.head()
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

## To Identify the colomuns that are datetime

In [ ]:
df.select_dtypes(include=['datetime'])
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

In [ ]:
df.select_dtypes(include=['category'])
df

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

In [ ]:
# Strip spaces from column names
df.columns = df.columns.str.strip()

# Strip spaces from all string cells
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df

C:\Users\formation\AppData\Local\Temp\ipykernel_35132\2344177357.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,TERTIAIRE,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,TERTIAIRE,446.228000,223.114000
2,2024,22,CÃ´tes-d'Armor,53,Bretagne,TERTIAIRE,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,INDUSTRIE,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,TERTIAIRE,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,TERTIAIRE,238.069956,79.356652
358538,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,136.608619,68.304309
358539,2018,77,Seine-et-Marne,11,ÃŽle-de-France,INDUSTRIE,6215.726814,517.977235
358540,2018,77,Seine-et-Marne,11,ÃŽle-de-France,TERTIAIRE,753.822167,753.822167

In [ ]:
df = df.applymap(lambda x: x.title() if isinstance(x, str) else x)
df

C:\Users\formation\AppData\Local\Temp\ipykernel_35132\3703469107.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.title() if isinstance(x, str) else x)

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,Tertiaire,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,Tertiaire,446.228000,223.114000
2,2024,22,Cã´Tes-D'Armor,53,Bretagne,Tertiaire,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,Industrie,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,Tertiaire,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,Seine-Maritime,28,Normandie,Tertiaire,74.528165,74.528165
358537,2018,76,Seine-Maritime,28,Normandie,Tertiaire,238.069956,79.356652
358538,2018,77,Seine-Et-Marne,11,Ãžle-De-France,Tertiaire,136.608619,68.304309
358539,2018,77,Seine-Et-Marne,11,Ãžle-De-France,Industrie,6215.726814,517.977235
358540,2018,77,Seine-Et-Marne,11,Ãžle-De-France,Tertiaire,753.822167,753.822167

## To Remove special characters

In [ ]:
import string

df = df.applymap(
    lambda x: x.translate(str.maketrans('', '', string.punctuation)) if isinstance(x, str) else x
)
df

C:\Users\formation\AppData\Local\Temp\ipykernel_35132\1193197665.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,Tertiaire,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,Tertiaire,446.228000,223.114000
2,2024,22,Cã´TesDArmor,53,Bretagne,Tertiaire,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,Industrie,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,Tertiaire,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,SeineMaritime,28,Normandie,Tertiaire,74.528165,74.528165
358537,2018,76,SeineMaritime,28,Normandie,Tertiaire,238.069956,79.356652
358538,2018,77,SeineEtMarne,11,ÃžleDeFrance,Tertiaire,136.608619,68.304309
358539,2018,77,SeineEtMarne,11,ÃžleDeFrance,Industrie,6215.726814,517.977235
358540,2018,77,SeineEtMarne,11,ÃžleDeFrance,Tertiaire,753.822167,753.822167

## remove especial character

In [ ]:
import re

df = df.applymap(
    lambda x: re.sub(r'[^A-Za-z0-9 _]+', '', x) if isinstance(x, str) else x
)
df

C:\Users\formation\AppData\Local\Temp\ipykernel_35132\229450548.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(

,annee,code_departement,nom_departement,code_region,nom_region,code_grand_secteur,conso_totale_mwh,conso_moyenne_mwh
0,2024,57,Moselle,44,Grand Est,Tertiaire,309.764000,154.882000
1,2024,57,Moselle,44,Grand Est,Tertiaire,446.228000,223.114000
2,2024,22,CTesDArmor,53,Bretagne,Tertiaire,4774.043000,73.447000
3,2024,55,Meuse,44,Grand Est,Industrie,136.521000,136.521000
4,2024,55,Meuse,44,Grand Est,Tertiaire,44.560000,44.560000
...,...,...,...,...,...,...,...,...
358536,2018,76,SeineMaritime,28,Normandie,Tertiaire,74.528165,74.528165
358537,2018,76,SeineMaritime,28,Normandie,Tertiaire,238.069956,79.356652
358538,2018,77,SeineEtMarne,11,leDeFrance,Tertiaire,136.608619,68.304309
358539,2018,77,SeineEtMarne,11,leDeFrance,Industrie,6215.726814,517.977235
358540,2018,77,SeineEtMarne,11,leDeFrance,Tertiaire,753.822167,753.822167